h1{
    font-weight: 1000;
    font-size: 400%;
    background-color: chartreuse;
    color:crimson; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h2{
     color: orangered;
}
/*a{
    margin-left: 1000px;
}*/
img{
    border: 8px solid white;
    border-radius: 50px;
    background-color:khaki;
    margin-left: 80pt;
}

img:hover{
background-color: lightgrey;
}
a{
    font-weight: bold;
    font-size: 20pt;
    
}
a:link{
    color:navy;
}
a:visited{
    color: purple;
}